
<div class="card shadow p-3 m-2 ">
  <div class="row mx-2">
    <div class="form-group col-md-4">
      <label>Descrição</label>
      <input type="text" class="form-control form-control-sm">
    </div>

    <div class="form-group col-md-2">
      <label>Valor</label>
      <input type="number" class="form-control form-control-sm">
    </div>

    <div class="form-group col-md-2">
      <label>Data</label>
      <input type="date" class="form-control form-control-sm">
    </div>

    <div class="form-group col-md-2">
      <div class="row mx-0">
        <label>Tipo</label>
      </div>

      <div class="btn-group" role="group" >
        <button type="button" class="btn btn-success btn-sm">Receita</button>
        <button type="button" class="btn btn-danger btn-sm">Despesa</button>
      </div>
    </div>

    <div class="form-group col-md-2">
      <label>Categoria</label>
      <select class="custom-select custom-select-sm">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mx-2">
    <div class="form-group col-md-12">
      <label for="exampleFormControlTextarea1">Observação</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"></textarea>
    </div>
  </div>
</div>

<button type="button" class="custom-button custom-button-green">Salvar</button>
<button type="button" class="custom-button custom-button-red">Cancelar</button>










