span {
  font-size: 13px;
}

.custom-button {
  outline: none;
}

@media only screen and (max-width: 720px) {
  .custom-button-blue {
    width: 100%;
  }

  .custom-button-red {
    width: 50%;
  }

  .custom-button-green {
    width: 50%;
  }
}

