.btn-group, .btn {
  width: inherit;
  border-radius: 15px;
}

.card {
  border: none;
}

.custom-button-blue {
  border: 1px solid rgb(72, 100, 224);
  background-color: white;
  color: rgb(72, 100, 224);
}

.custom-button-red {
  border: 1px solid red;
  background-color: white;
  color: red;
}

.custom-button {
  width: 150px;
  height: 34px;
  margin: 5px;
  border-radius: 35px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

.custom-button-red:hover {
  background-color: red;
  color: white;
  box-shadow: 5px 5px 5px rgb(245, 227, 220);
}

.custom-button-blue:hover {
  background-color: rgb(72, 100, 224);
  color: white;
  box-shadow: 5px 5px 5px rgb(207, 226, 215);
}

.custom-button:active {
  transform: scale(1.1);
  transition: transform 0.05s ease-in-out;
}

.breadcrumb {
  background-color: white;
}

.page-content-container {
  margin-top: 30px;
}


