<app-header></app-header>

<div class="row m-0" style="height: calc(100vh - 57px);">
  <div class="col-md-2 shadow">

  </div>
  <div class="col-md-10">
    <nav aria-label="breadcrumb" class="mx-2 mt-4" >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Transações</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transação</li>
      </ol>
    </nav>

    <section class="page-content-container">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>


